html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Handlee', cursive;
    font-size: 15pt;
    background-color: #fbfbfb;
    padding: 0px;
    margin: 0;
}
h1 {
    font-size: 28pt;
    color: #03031b;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 40px 0 35px 0;
}
h2 {
    font-size: 22pt;
    margin-left: 10px;
    margin-top: 35px;
    margin-bottom: 20px;
}
h1 span {
    border: 10px dashed #202cd5;
    padding: 16px;
}
h2 span {
    border: 3px solid #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    margin-left: 35px;
    margin-right: 35px;

}
.photo {
    float: right;
    margin-right: 100px;
}
#img {
    display: block;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(30, 11, 134);
    border-radius: 25%;
}
.section {
    background-color: rgb(165, 165, 165);
    padding: 15px;
    
}
#header {
    background-image: url("image/header.jpg");
    background-size: cover;
    
}
#header p {
    font-size: 36pt;
    color: #ffffff;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}
table {
    width: 60%;
    font-size: 18pt;
    margin-left: 50px;
    border: 0px;
    text-align: left;
    table-layout: fixed;
}
.list {
    width: 90%;
    font-size: 18pt;
    text-align: center;
    border: 3px rgba(207, 191, 235, 0.438);
    margin: auto;
}

li {
    margin-bottom: 15px;
    font-weight: bold;
}

#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.9;
}
#contacts {
    text-align: center;
}
